@* @model CarPark.Application.ResponseData.Result<List<CarPark.Application.Dtos.Parking.ParkingSpotDto>>

 *@
@* @model VehicleEnterRequestDto *@
@model Result<List<ParkingSpotDto>>
@{
    ViewData["Title"] = "Otopark Durumu";
}



@{
    var allErrors = ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).ToList();
}
@if (allErrors.Any())
{
    <div class="alert alert-danger d-flex align-items-start gap-2">
        <div class="me-2 mt-1">
            <span class="badge bg-danger rounded-circle" style="width: 1.6rem; height: 1.6rem;">
                !
            </span>
        </div>
        <div>
            <h6 class="alert-heading mb-1">Formda bazı hatalar var</h6>
            <ul class="mb-0 small">
                @foreach (var error in allErrors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger d-flex align-items-center  gap-2">
        <div class="me-2">
            <span class="badge bg-danger rounded-circle" style="width: 1.6rem; height: 1.6rem;">
                !
            </span>
        </div>
        <div>
            <h6 class="alert-heading mb-1">@ViewBag.ErrorMessage</h6>
        </div>
    </div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-danger d-flex align-items-center  gap-2">
        <div class="me-2">
            <span class="badge bg-danger rounded-circle" style="width: 1.6rem; height: 1.6rem;">
                !
            </span>
        </div>
        <div>
            <h6 class="alert-heading mb-1">@ViewBag.SuccessMessage</h6>
        </div>
    </div>
}

<div class="row mb-4 mt-4">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Araç Girişi</h5>
                <form method="post" asp-action="VehicleEnter" id="vehicleEnterForm">
                    <input type="hidden" name="SpotId" id="selectedSpotId" />
                    <div class="input-group">
                        <input name="Plate" class="form-control" placeholder="Plaka girin" />
                        <button class="btn btn-success" type="submit">Giriş</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Araç Çıkışı</h5>
                <form method="post" asp-action="VehicleExit">
                    <div class="input-group">
                        <input name="Plate" class="form-control" placeholder="Plaka girin" />
                        <button class="btn btn-danger" type="submit">Çıkış</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="mb-3">Otopark Alanları</h5>

        <div class="row">
            @foreach (var spot in Model.Data!)
            {
                var isEmpty = !spot.IsFilled;
                var cardClasses = isEmpty
                ? "card text-center spot-card spot-card-empty"
                : "card text-center spot-card spot-card-filled bg-danger text-white";

                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                    <div class="@cardClasses"
                         data-spot-id="@spot.Id"
                         data-empty="@isEmpty.ToString().ToLower()">
                        <div class="card-body p-2">
                            <div class="fw-bold">@spot.Code</div>
                            <small>
                                @(spot.IsFilled? spot.Plate: "Boş")
                            </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const spotCards = document.querySelectorAll(".spot-card");
            const hiddenInput = document.getElementById("selectedSpotId");

            spotCards.forEach(card => {
                card.addEventListener("click", function () {
                    if (this.dataset.empty !== "true") {
                        return;
                    }
                    document.querySelectorAll(".spot-card-empty.spot-card-selected")
                        .forEach(c => c.classList.remove("spot-card-selected"));
                    this.classList.add("spot-card-selected");
                    const id = this.dataset.spotId;
                    hiddenInput.value = id;
                });
            });
        });
    </script>
}
